html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(45, 117, 45);
    font-family: sans-serif;
}

#page {
    width: 60vw;
    border: 20px solid lightgray;
    border-radius: 45px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5vh;
    background-color: white;
}

#header {
    background: linear-gradient(rgb(189, 189, 0), rgb(189, 189, 0), rgb(214, 214, 214));
    border-radius: 25px 25px 0 0;
}

#headerTitle {
    font-size: 2.25em;
    font-weight: bold;
    font-family: sans-serif;
    padding: .75rem 0 0 1rem;
    animation-name: fade;
    animation-duration: 5s;
}

@keyframes fade {
    0% {
        opacity: 0;
        margin-left: 60%;
    }
    15% {
        opacity: 0;
        color: white;
    }
    90% {
        color: white;
    }
    100% {
        opacity: 1;
        color: black;
    }
}

#headerSubText {
    font-size: 1.25em;
    color: rgb(45, 117, 45);
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

#bar {
    background: linear-gradient(rgb(71, 71, 71), rgb(119, 119, 0), rgb(160, 160, 0), rgb(160, 160, 0));
    padding-top: .5rem;
    padding-bottom: .75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 100%;
}

#bar a {
    margin-top: 1.2rem;
    color: white;
    text-decoration: none;
}

#bar a:hover {
    transform: scale(1.4);
    transition: .75s;
    color: rgb(143, 206, 143);
}

.contentTitle {
    margin-top: 1rem;
    background: linear-gradient(lightgray, white);
    width: 95%;
    border-radius: 25px;
    margin-left: 50%;
    transform: translate(-50%);
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

h1 {
    font-size: 1.25em;
    font-weight: 600;
}

.contentText {
    padding: 0 1.5rem 0 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-size: .95em;
}

.contentText a {
    color: black;
    text-decoration: none;
}

#footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 606%;
    z-index: 2;
}

#footer a {
    color: black;
    text-decoration: none;
}

[data-tooltip] {
    position: relative;
    cursor: default;
}

[data-tooltip]::after {
    position: absolute;
    width: 140px;
    left: 15%;
    content: attr(data-tooltip);
    bottom: 125%;
    text-align: center;
    box-sizing: border-box;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8px;
    border-radius: 10px;
    font-size: 100%;
    font-weight: bold;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.2s;
}

[data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.marquee {
    width: 100%;
    height: 7vh;
    overflow: hidden;
    position: relative;
}

.marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 5rem;
    height: 100%;
    content: "";
    z-index: 1;
}

.marquee_content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling 15s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(80vw);
    }
    100% {
        transform: translateX(-45vw);
    }
}

.marquee_content li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    white-space: nowrap;
    width: 20vw;
    color: rgb(45, 117, 45);
    font-size: 1.25em;
}

.marquee_content:hover {
    animation-play-state: paused;
}

.modal_open {
    text-decoration: none;
  }
  
  ._modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
  }
  
  .modal_content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    height: 60%;
    width: 70%;
    padding: 1.5rem;
    font-size: 115%;
    line-height: 1.25rem;
    border-radius: 25px;
    opacity: 0;
    visibility: hidden;
    text-align: center;
  }
  
  .modal_content img {
    margin-bottom: 1rem;
    border: 3px solid black;
  }
  
  .modal_heading {
    margin-bottom: 2rem;
    color: darkgreen;
    text-align: center;
  }
  
  .modal_close {
    font-size: 2rem;
    text-decoration: none;
    color: gray;
    position: fixed;
    top: 13%;
    left: 96%;
    transform: translate(-13%, -96%);
  }
  
  #_modal:target {
    opacity: 1;
    visibility: visible;
  }
  
  #_modal:target .modal_content {
    opacity: 1;
    visibility: visible;
  }
  